<ion-header>
  <ion-navbar>
    <ion-title>
      It is time for wbma photo streak!!!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p><button (click)="loggingout()">Log out</button>
    <button (click)="toUppload()">Upload photos</button>
    Logged in as: {{userName}}</p>
  <p>Showing {{startingPoint}} -  {{lastOfPage}}/{{filecount}}</p>
  <p><button (click)="goToFirstSet()">To first ones</button>
    <button (click)="viewPreviousPhotos()">Previous</button>
  <button (click)="viewNextPhotos()">Next</button>
  <button (click)="goToLastSet()">To last ones</button> </p>
  <div id="flextime">
    <ul>
      <li *ngFor = "let mediafile of mediafiles">
        <h3>Title: {{mediafile.title}}</h3>
        <p>Description: {{mediafile.description}}</p>
        <div (click)="goToFileview(mediafile.file_id,mediafile.media_type)">
          <div *ngIf="mediafile.media_type === 'image'"><img [src]="mediaProvider.mediaUrl + (mediafile.filename | thumbnail: 'small')"/></div>
          <div *ngIf="mediafile.media_type === 'audio'">
            <audio controls>
              <source [src] ="mediaProvider.mediaUrl + mediafile.filename" [type]="mediafile.mime_type">
            </audio>
          </div>
          <div *ngIf="mediafile.media_type === 'video'"><p>Videota pukkaa</p></div>
        </div>
        <p>Time added: {{mediafile.time_added}}</p>
      </li>
  </ul>
  </div>
</ion-content>
